<app-navegacion></app-navegacion>
<div class="card mx-auto m-4" style="width: 30rem;">
  <div class="card-header">
    <h3 class="text-center">Pregunta 4</h3>
    <hr/>
    <p>Determinar si un alumno aprueba a reprueba un curso, sabiendo que aprobara si su promedio de tres calificaciones
      es mayor o igual a 70; reprueba en caso contrario.</p>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label for="nota1" class="form-label">Introduzca nota 1</label>
      <input type="number" [(ngModel)]="nota1" class="form-control" id="nota1">
      <div id="nota1Help" class="form-text">Recuerda: la nota es de 0 a 100</div>
    </div>
    <div class="mb-3">
      <label for="nota2" class="form-label">Introduzca nota 2</label>
      <input type="number" [(ngModel)]="nota2" class="form-control" id="nota2">
      <div id="nota2Help" class="form-text">Recuerda: la nota es de 0 a 100</div>
    </div>
    <div class="mb-3">
      <label for="nota3" class="form-label">Introduzca nota 3</label>
      <input type="number" [(ngModel)]="nota3" class="form-control" id="nota3">
      <div id="nota3Help" class="form-text">Recuerda: la nota es de 0 a 100</div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="calcularPromedio()">Calcular</button>
    </div>
    @if (resultado){
      @if (resultado == 'Aprobado') {
        <div class="alert alert-success m-4 text-center" role="alert">
          <h2>{{ resultado }}</h2>
        </div>
      } @else {
        <div class="alert alert-danger m-4 text-center" role="alert">
          <h2>{{ resultado }}</h2>
        </div>
      }
    }
  </div>
</div>
<router-outlet></router-outlet>
