<app-navegacion></app-navegacion>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Precio Total</title>
</head>
<body>
    <div>
        <label for="precioUnitario">Precio Unitario:</label>
        <input type="number" id="precioUnitario" [(ngModel)]="precioUnitario">
    </div>
    <div>
        <label for="cantidad">Cantidad Adquirida:</label>
        <input type="number" id="cantidad" [(ngModel)]="cantidad">
    </div>
    <div>
        <button (click)="calcularPrecioTotal()">Calcular Precio Total</button>
    </div>
    <div *ngIf="precioTotal !== undefined">
        <p>El cliente debe pagar: {{ precioTotal }}</p>
    </div>
</body>
</html>
<router-outlet></router-outlet>
